html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 65px;
    background-color: #FFFFFF;
    border-bottom: black solid 2px;
    padding-bottom: 50px;
    position: fixed;
}

.logo{
    margin: 10px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    float: right;
    padding: 20px;
    font-size: 1.3em;
    margin: 10px;
}
.navlink a, .navlink a:link, .navlink a:visited, .navlink a:active, .premiumButton a{
    padding: 5px 10px 5px 10px;
    color: black;
    text-decoration: none;
    border: 3px solid #00aeff;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}
.navlink a:hover, .premiumButton a:hover{
    text-decoration: none;
    color: white;
    background-color: #00aeff;
}

.formSubmit{
    margin-top: 25px;
    padding: 10px 15px 10px 15px;
    color: black;
    background-color: white;
    text-decoration: none;
    border: 3px solid #00aeff;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}
.formSubmit:hover{
    color: white;
    background-color: #00aeff;
}
.formInput{
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 3px solid #00aeff;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}
.required {
    margin-left: 38%;
    width: 20%;
    border: 1px solid #eee;
    border-left: 3px solid #FF1938;
    border-radius: 5px;
}
#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}
#login, #signup, #changePassword{
    margin-top: -200px;
}
#changePassword{
    text-align: center;
}
#changePasswordForm input{
    margin-top: 10px;
}
#changePasswordForm .formSubmit{
    width: 60%;
}
.signupUser{
    margin-bottom: 15px;
}

.ticketContainer{
    display: inline-block;
    width: 18%;
    height: 70%;
    margin: 80px 1% 0.5% 0.5%;
    text-align: center;
    overflow-y: scroll;
}
.ticketFunctionForm{
    margin-top: -25px;
}
.ticketFunctionForm .formSubmit{
    padding: 5px 10px 5px 10px;
}
.ticket{
    width: auto;
}
.ticketTitle{
    font-size: 20px;
}
.ticketPriority, .ticketDueDate, .ticketDesc{
    font-size: 15px;
}
.ticketFormContainer{
    padding-left: 10%;
    padding-right: 10%;
}
.ticketForm{
    width: auto;
    margin-top: 25px;
}
.ticketForm input{
    margin-right: 25px;
}
.ticketForm .formSubmit{
    padding: 25px 15px 25px 15px;
}
#ticketDueDate, #ticketTitle, #ticketPriority{
    width: 25%;
    margin-bottom: 15px;
}
#ticketDesc{
    width: 69.5%;
}

#boards{
    text-align: center;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
.premium{
    width: auto;
    margin-bottom: 1%;
}
.premiumCTA{
    margin-top: 0.5%;
    margin-right: 1%;
}
.board{
    width: auto;
}
.board h4{
    display: inline;
    margin-right: 5px;
}
.boardInfo{
    display: inline;
}
.boardButton, .functionForm{
    display: inline;
}
.boardInfo .formSubmit{
    margin: 0;
    padding: 5px 10px 5px 10px;
}
.boardFormContainer{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
.boardForm{
    padding-left: 38%;
}
#boardName{
    margin-top: 25px;
    height: 50px;
    width: 25%;
}

#upgradeDesc{
    text-align: center;
}
#upgradeDesc p{
    display: inline;
}
.upgradeBtn{
    margin: 0 0 15px 5px;
    background-color: white;
    padding: 5px 10px 5px 10px;
    color: black;
    text-decoration: none;
    border: 3px solid #00aeff;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}
.upgradeBtn:hover{
    text-decoration: none;
    color: white;
    background-color: #00aeff;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}
.mainForm h3 {
    text-align: center;
}
.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#message{
    padding-top: 150px;
    padding-left: 150px;
    font-size: 2em;
}
